div.task {
  padding:0.5em 1em;
  border:1px solid #CCC;
  background-color:white;
  border-radius:12px;
  margin:2px;
}
div.task div.buttons {
  float: right;
  clear:both;
  opacity:0.3;
}
div.task div.buttons:hover {opacity:1}
div.task div.buttons div.btn {
  display:inline-block;
  cursor: pointer;
  margin-left:8px;
}
