div.task-conteneur {
  width:700px;
  display:inline-block;
  padding:2em;
  border:1px solid #555;
  position: relative;
  vertical-align:top;
}
div.task-conteneur.main {
  height: 600px;
  max-height:600px;
  overflow:auto;
}

div.task-conteneur header, 
div.task-conteneur footer {
  position:absolute;
  left:0;
  width:100%;  
  border-width: 1px;
  border-color: #777;
  height:40px !important;
  background-color: #EFEFEF;
  padding:0;
}
div.task-conteneur header {
  top: 0;
  border-bottom-style:solid;

}
div.task-conteneur footer {
  bottom:0;
  border-top-style:solid;
}
div.task-conteneur header > *,
div.task-conteneur footer > * {
  height: 40px;
}

div.task-conteneur header > button,
div.task-conteneur footer > button {
  width:40px;
  border:1px solid grey;
}
div.task-conteneur footer > button:disabled {
  opacity: 0.2;
} 

div#container-tasks-main {
  padding-bottom:3em;
  padding-top:3em;
}
div#container-tasks-done {
  opacity: 0.4;
}

