div.task {
  padding:0.5em 1em;
  border:1px solid #CCC;
  background-color:white;
  border-radius:12px;
  margin:2px;
  cursor:pointer;
}
div.task.selected {
  background-color:#B3EDFF!important;
}
div.task.outdated {
  background-color:#FFC7CF; 
}

/* plié  */
div.task:not(.unfolded) {} 
div.task:not(.unfolded) div.bloc-subtasks {display:none;} 
/* déplié  */
div.task.unfolded {}
div.task.unfolded div.bloc-subtasks{ display: block; }

div.task.unfolded .resume {
  display:block;
  margin-bottom:0.5em;
  font-weight:bold;
}
div.task span.btn-fold {
  float: left;
  font-size: 10pt;
  margin-right:0.5em;
  vertical-align:middle;
}

div.task div.btns-subtasks {
  margin-top:1em;
  text-align:right;
  font-family: Arial Narrow;
  font-size: 14pt;
}

div.task div.buttons {
  float: right;
  clear:both;
  opacity:0.3;
}
div.task div.buttons:hover {opacity:1}
div.task div.buttons div.btn {
  display:inline-block;
  cursor: pointer;
  margin-left:8px;
}

select#task-filter {
  height: 40px;
  padding: 0 1em;
}

div.task span.date {
  float:right;
  font-family: Georgia;
  font-size: 10pt;
}
div.task span.date.later {
  color: blue;
}
div.task span.date.ok {
  color: green;
}
div.task span.date.end-near {
  color: orange;
}
div.task span.date.outdated {
  color: red;
  font-weight: bold;
  font-variant:all-small-caps;
  font-size:1.1rem;
}

div.task span.date.start-at {
  margin-right:0;
}
div.task span.date.start-at:before {content:'du '}
div.task span.date.end-at:before   {content:' au '}
